@media only screen and (min-width: 1280px) {
.sub-menu {
box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
transform: translateY(10px);
-webkit-transform: translateY(10px);
-moz-transform: translateY(10px);
-ms-transform: translateY(10px);
-o-transform: translateY(10px);
visibility: hidden;
opacity: 0;
}
}
@media only screen and (min-width: 1280px) {
.menu-item-has-children:hover .sub-menu {
visibility: visible;
opacity: 1;
transform: translateY(0);
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transition: all .5s;
-webkit-transition: .5s;
-moz-transition: .5s;
-ms-transition: .5s;
-o-transition: .5s;
}
}

@media screen and (max-width: 1279px) {
.hamburger {
display: block;
position: relative;
z-index: 999;
}
.hamburger button {
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
    position: relative;
    background: 0 0;
    outline: 0;
    border: 0;
    z-index: 2;
}
.menu-header-menu-container {
    width: 100%;
}
.get-started #navbar ul {
    gap: 0;
    align-items: flex-start;
    display: flex;
        flex-direction: column;
        padding-top: 3%;
}

}